<!-- <div class="data-play" aria-label="" 
[setSVGAttributes]="{viewBox: '0 0 100vw 50vh', width:'100vw', height:'50vh', preserveAspectRatio:'xMidYMid meet' }"
[inlineSVG]="'../assets/svg/data-play.svg'"></div> -->


<ng-parallax img="https://cdn.pixabay.com/photo/2017/06/23/19/16/woman-2435605_960_720.jpg" 
[config]="{axis: 'Y', speed: -.8}" class="some-class">

<app-data-overview></app-data-overview>
<!-- <img src='../assets/svg/Freesample.svg'>
<div class="data-play" aria-label="" 
[setSVGAttributes]="{viewBox: '0 0 500 800',  preserveAspectRatio:'xMidYMid meet', height:'100%', width:'100%' }"
[inlineSVG]="'../assets/svg/data-play.svg'"></div> -->

</ng-parallax>
 
<ng-parallax img="https://cdn.pixabay.com/photo/2016/08/06/15/09/computer-1574533_960_720.jpg" 
[config]="{axis: 'Y', speed: -.7}" class="some-class"></ng-parallax>
 
